<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.stringConexao"
            connectionString="Data Source=NOGODZ\SQLEXPRESS;Initial Catalog=Drausio2;User ID=sa;Password=&quot;Net Coders&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>